* {
    margin: 0;
    padding: 0;
}

.home {
    height: 100vh;
    width: 100vw;
    background: url('../img/6607.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    box-shadow: 0 0 10px #8C6729, 0 0 0 15px;
    z-index: -1;
}


.container {
    padding: 20px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    position: relative;

}

h2{
    position:relative;
    padding-bottom: 10px;

}

.yellow-text {
    font-stretch: ultra-expanded;
    font-weight: 900;
    line-height: 150px;

}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}



