<!-- Attributed code creation and style to Tim Nelson (Code Institute Devs however code has been rewritten by myself to refect the unique database management and functionality for this site-->
<!-- https://courses.codeinstitute.net/courses/course-v1:CodeInstitute+DCP101+2017_T3/courseware/196c000dd670458cafc7b2dc9d4a8245/016a25dab553425ba26288263c0c3a6e/?child=first-->
{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">What Are You Reading?</h3>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m4">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Titles</label>
                </div>
                <div class="col s12 m8">
                    <a href="{{ url_for('get_titles') }}" class="red btn text-shadow">Reset</a>
                   <!-- <button type="submit" class="btn waves-effect waves-teal">     
                        <i class="fas fa-search left"></i> Search
                    </button> -->
                </div>
            </div>
        </form>
    </div>

    {% if titles|length > 0 %}
       <ul class="collapsible popout">
        {% for title in titles %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == title.recomended_by|lower %}
                        <a href="{{ url_for('add_title', title_id=title._id) }}" class="btn-small green accent-4">Done</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ title.title_name }}</strong> : {{ title.due_date }}
                    {% if title.is_urgent == "on" %}
                        <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                            data-position="right" data-tooltip="UP VOTE NOW!"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ title.genre_name }}</strong>
                <p>{{ title.title_description }}</p>
                <p><em>by: {{ title.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

{% endblock %}
